:root {
  --main-text-color: #333333;
}


body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}

.container {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

p {
  line-height: 1.5em;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: white;
  z-index: 1;
  
}

.navbar__logo {
  float: left;
  width: 20%;
  height: 60%;
  background: url(../../images/hrt_logo/logo_black.png);
  background-size: cover;
  background-position: center;
  margin-right: auto;
  
}

.navbar__language-option {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  font-size: 0.9em;
  

}

.navbar__language-divisor {
  width: 2px;
  height: 30%;
  background: black;
  margin: 0 2%;
}  

.navbar__menu-bars {
  width: 35px;
  height: 35px;
  background: url(../../images/interactive_icons/menu_bars.png);
  background-size: cover;
  margin-left: 10%;
  margin-right: 6%;
}

.hero-image {
  position: relative;
  height: 100vh;
  background: url(../../images/hero_images/hero_image_1_opt.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.hero-image__text {
  display: block;
  color: white;
}


.hero-image__header {
  font-size: 3em;
}

.hero-image__sub-header {
  font-size: 1em;
  letter-spacing: 0.5em;
}
.hero-image__link {
  position: absolute;
  top: 85%;
  text-align: center;
  color: white;
  font-size: 1.2em;
  border: solid white 1px;
  padding: 0.5em 2em;
  border-radius: 30px; 
 
  
}

.about-hrt {
  background: white;
  padding: 5vh 5vw 1vh 5vw;
}

.about-hrt__answers {
  line-height: 1.5em;
  margin-bottom: 5vh;
}

.about-me {
  background: rgb(61, 138, 108);
  background: linear-gradient(77deg, rgba(61, 138, 108, 1) 21%, rgba(57, 92, 103, 1) 92%);
  color: white;
  padding: 8vh 8vw;
  border-radius: 30px;

}

.about-me__profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../../images/section_backgrounds/about_profile_image_opt.jpg);
  background-position: bottom;
  background-size: cover;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

.about-me__license-title {
  margin: 6vh 0;
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
}

.about-me__learn-more {
  display: inline-block;
  margin: 7vh auto 0 auto;
  width: 150px;
  height: 5vh;
  border: solid white 1px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: ease-in-out 0.3s;
}

.about-me__learn-more:hover {
  background: white;
  color: var(--main-text-color);
}

.services{
  padding: 5vh 8vw;
}

.services__header {
  text-align: center;
  margin-bottom: 8vh;
}



.services-dropdown {
  border: solid black 1px;
  border-radius: 30px;
  margin-bottom: 3vh;
}

.services-dropdown label {
display: block;
max-width: 100%;
background: url(../../images/interactive_icons/dropdown_up.png) no-repeat 100% center;
background-size: contain;
height: 6.5vh;
display: flex;
align-items: center;
padding-left: 1em;
font-weight: bold;
transition: ease-in-out 0.2s;
}

.services-dropdown__content {
  padding: 1em;
}

/* Toggle Effect */
.services-dropdown__input:checked ~ label {
  background: url(../../images/interactive_icons/dropdown_down.png) no-repeat 100% center;
  background-size: contain;
  border: none;
  border-bottom: solid 1px black;
  
}

.services-dropdown__content {
  display: none;
  transition: ease-in-out 0.3s;
}

.services-dropdown__input:checked ~ .services-dropdown__content {
  display: block;
}

.services-dropdown__input#individual-services,#couple-services,#children-services,#family-services,#group-services,#telemedia-services {
  display: none;
}

.pricing {
  border-radius: 30px;
  padding: 5vh 8vw;
  background: rgb(255, 36, 36);
  background: linear-gradient(140deg, rgba(255, 36, 36, 1) 0%, rgba(155, 76, 255, 1) 70%, rgba(213, 150, 199, 1) 100%);

}

.pricing__header {
  text-align: center;
  margin-bottom: 8vh;
  color: white;
  font-size: 2em;
}

.pricing__card {
  margin: 5vh auto;
  max-width: 70%; 
  background: white;
  border-radius: 40px;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  padding: 3vh 10vw;
}

.pricing__card__title {
  text-align: center;
  margin-bottom: 7vh;
}

#consultation-pricing-image {
  background: url(../../images/pricing_images/consultation_pricing.png);
  background-size: cover;
  background-position: center;
}

#individual-pricing-image {
  background: url(../../images/pricing_images/individual_pricing.png);
  background-size: cover;
  background-position: center;
}

#couples-pricing-image {
  background: url(../../images/pricing_images/couple_pricing.png);
  background-size: cover;
  background-position: center;
}

#family-pricing-image {
  background: url(../../images/pricing_images/family_pricing.png);
  background-size: cover;
  background-position: center;
}

#group-pricing-image {
  background: url(../../images/pricing_images/group_pricing.png);
  background-size: cover;
  background-position: center;
}

.pricing__card__price {
  text-align: center;
}

.pricing__card__image {
  max-width: 100%;
  height: 20vh;
  margin-bottom: 5vh;
}

.pricing__card__subtitle {
  text-align: center;
  color: gray;
  font-weight: lighter;
  font-size: 1em;
}

.faq {
  padding: 8vh 8vw 5vh 8vw;
}

.faq__header {
  text-align: center;
  margin-bottom: 8vh;
  font-size: 2em;
}



.faq-dropdown {
  border: solid black 1px;
  border-radius: 30px;
  margin-bottom: 3vh;
}

.faq-dropdown label {
  display: block;
  max-width: 100%;
  background: url(../../images/interactive_icons/dropdown_up.png) no-repeat 100% center;
  background-size: contain;
  height: 6.5vh;
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

.faq-dropdown__content {
  padding: 1em;
}

/* Toggle Effect */
.faq-dropdown__input:checked~label {
  background: url(../../images/interactive_icons/dropdown_down.png) no-repeat 100% center;
  background-size: contain;
  border: none;
  border-bottom: solid 1px black;

}

.faq-dropdown__content {
  display: none;
  transition: ease-in-out 0.3s;
}

.faq-dropdown__input:checked~.faq-dropdown__content {
  display: block;
}

.faq-dropdown__input#question-one,#question-two,#question-three,#question-four,#question-five,#question-six,#question-seven,#question-eight {
  display: none;
}

.form {
  padding: 8vh 5vw;
  background: url(../../images/section_backgrounds/contact_background.jpg);
  background-size: cover;
  background-position: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form__header {
  text-align: center;
  margin-bottom: 7vh;
}

.form__field {
  display: block;
  text-decoration: none;
  min-width: 85%;
  height: 6vh; 
  margin: 3vh auto;
  border-radius: 30px;
  outline: none;
  border: none;
  padding-left: 1.5em;
  font-size: 0.8em; 
}

.form__message {
  border-radius: 15px;
  height: 30vh;
  padding-top: 1.5em;
  margin-top: 8vh;
}

.form__submit-button {
  display: block;
  margin: 5vh auto 0 auto;
  border: none;
  outline: none;
  padding: 15px 70px;
  border-radius: 30px;
  font-size: 1em;
}

.footer {
  background: black;
  color: white;
  padding: 4vh 5vw;
}




.footer__menu, .footer__statement, .footer__map {
  display: none;
}

.footer__section-title {
  border-bottom: solid white 1px;
  padding-bottom: 1em;
}

.footer__list {
  list-style-type: none;
  padding-left: 1.5em;
  
}

.footer--links {
  color: lightgray;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__contact__type {
  display: block;
  font-weight: bold;
  padding: 2vh 0;
  font-size: 1.2em;
  
}

.copyright {
  background: black;
  color: white;
  margin: 0;
  text-align: center;
  padding-bottom: 5vh;
}


































