:root {
  --main-text-color: #333333;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}

/* .hero-image {
    width: 100vw;
    height: 100vh;
    background: url(../../images/hero_images/hero_image_1_opt.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .hero-image__link {
  text-decoration: none;
  color: white;
} */








